[submodule "lisp/rails-pkgs/rinari"]
	path = lisp/rails-pkgs/rinari
	url = git://github.com/vhallac/rinari
[submodule "lisp/rails-pkgs/rhtml"]
	path = lisp/rails-pkgs/rhtml
	url = git://github.com/vhallac/rhtml
[submodule "lisp/rails-pkgs/rspec-mode"]
	path = lisp/rails-pkgs/rspec-mode
	url = git://github.com/vhallac/rspec-mode
[submodule "lisp/auto-complete"]
	path = lisp/auto-complete
	url = git://github.com/vhallac/auto-complete
[submodule "lisp/magit"]
	path = lisp/magit
	url = git://github.com/vhallac/magit
[submodule "lisp/org2blog"]
	path = lisp/org2blog
	url = git://github.com/vhallac/org2blog
[submodule "lisp/python-pkgs/virtualenv"]
	path = lisp/python-pkgs/virtualenv
	url = git://github.com/vhallac/virtualenv
[submodule "lisp/yaml-mode"]
	path = lisp/yaml-mode
	url = git://github.com/vhallac/yaml-mode
[submodule "lisp/emacs-eclim"]
	path = lisp/emacs-eclim
	url = git://github.com/vhallac/emacs-eclim.git
[submodule "lisp/gradle-el"]
	path = lisp/gradle-el
	url = git://github.com/vhallac/gradle-el
